.header {
    margin-top: 88px;
    margin-bottom: 93px;
    display: grid;
    width: 100%;
    grid-template-columns: 1fr min-content 1fr;
    align-items: center;
}

.header-menu {
    position: relative;
    padding-left: 50px;
}

.header-links-list {
    display: flex;
    list-style: circle;
    word-spacing: 1px;
    width: 100%;
}

.header-links-list-item_no-bullit {
    list-style: none;
    text-decoration: none;
    font-size: 18px;
    line-height: 117%;
}

.header-link-active {
    margin-right: 30px;
    text-decoration: none;
}

.header-links-list-item {
    white-space: nowrap;
    margin-right: 32px;
    font-size: 18px;
    line-height: 117%;
}

.header-logo {
    display: block;
    justify-self: center;
    align-self: center;
    width: 140px;
}

.header-logo-image {
    width: 100%;
}

.header-address {
    justify-self: end;
    margin-right: 85px;
}

.address {
    position: relative;
    max-width: 240px;
    font-size: 18px;
    font-style: normal;
    line-height: 135%;
}

.address-link {
    text-underline-offset: 3px;
}

.overlay {
    z-index: 0;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.6);
    inset: 0;
} 

.cover {
    display: flex;
    width: 100%;
    flex-direction: column;
    position: relative;
    background-image: url("../images/cover.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 757px;
}

.cover-title {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    color: white;
    font-size: 100px;
    text-transform: uppercase;
}

.aligned-text {
    position: relative;
    align-self: flex-start;
    margin-top: 164px;
    margin-left: 50px;
    letter-spacing: 0.3em;
}

.aligned-text_center {
    position: relative;
    align-self: center;
    margin-top: 18px;
    margin-left: 30px;
    letter-spacing: 0.3em;
}

.aligned-text_right {
    position: relative;
    align-self: flex-end;
    margin-top: 18px;
    margin-right:20px;
    letter-spacing: 0.3em;
}

.description {
    display: flex;
    position: relative;
    width: 100%;
    color: white;
    margin-top: 105px;
}

.cover-description-text {
    position: relative;
    color: white;
    font-size: 22px;
    word-spacing: 19px;
    text-transform: uppercase;
    line-height: 127%;
    margin-left: 50px;
    padding-top: 12px;
}

.bet-button {
    all: unset;
    position: relative;
    margin-left: 104px;
    text-transform: uppercase;
    border: 1.5px solid white;
    font-size: 22px;
    padding: 10px 32px;
}

.lots {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    margin-top: 180px;
}

.lots-heading {
    position: relative;
    width: 100%;
    padding-left: 64px;
    text-transform: uppercase;
    font-size: 40px;
}

.lots-card-list {
    list-style: none;
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-left: 24px;
    padding-right: 24px;
    margin-top: 27px;
    gap: 25px;
}

.lots-card-list-item {
    width: 334px;
    min-height: 596px;
}

.card-link, 
.card {
    height: 100%;
    text-decoration: none;
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    background-size: cover;
    background-position: center;
    max-width: 100%;
    max-height: 100%;
}

.card-type-film {
    background-image: url("../images/card-lot-01.jpg");
}

.card-type-book {
    background-image: url("../images/card-lot-02.jpg");
}

.card-type-picture {
    background-image: url("../images/card-lot-03.jpg");
}

.card-title {
    z-index: 1;
    color: white;
    text-align: left;
    margin-top: 48px;
    margin-left: 40px;
    margin-right: 20px;
    text-decoration: underline;
    text-transform: uppercase;
    font-size: 22px;
}

.card-text {
    z-index: 1;
    color: white;
    text-align: left;
    justify-self: end;
    margin: auto 40px 50px 40px;
    font-size: 20px;
}

.lots-look-more-link {
    position: relative;
    width: 100%;
    text-align: left;
    padding-left: 64px;
    padding-top: 32px;
    text-transform: lowercase;
    text-underline-offset: 3px;
    line-height: 117%;
    font-size: 20px;
}

.about {
    display: grid;
    width: 100%;
    padding-left: 22px;
    margin-top: 88px;
    grid-template-columns: 334px 1fr ;
}

.about-logo {
    display: flex;
    width: 240px;
    height: 240px;
    justify-items: center;
    background-color: black;
    border-radius: 130px;
    margin-left: 50px;
    margin-top: 65px;
}

.about-logo-image {
    width: 147px;
    margin: 0 auto;
}

.about-column {
    margin-left: 28px;
}

.about-title {
    text-transform: uppercase;
    font-size: 40px;
    line-height: 117%;
    margin-top: 167px;
    margin-bottom: 100px;
}

.about-text {
    font-size: 20px;
    font-weight: 400;
    line-height: 120%;
    text-align: left;
    max-width: 688px;
    margin-bottom: 25px;
}

.footer {
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 144px;
}

.footer-address {
    justify-self: center;
    text-underline-offset: 3px;
    margin-top: 10px;
    margin-right: 25px;
}

.footer-menu-link-active {
    text-decoration: none;
}

.footer-menu-list {
    position: relative;
    list-style: none;
    justify-self: center;
    font-size: 18px;
    line-height: 117%;
    text-align: center;
    margin-top: 10px;
}

.footer-menu-link {
    text-decoration: underline;
    text-underline-offset: 3px;
}

.footer-social-list {
    position: relative;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 36px;
    padding-left: 53px;
    padding-right: 26px;
    list-style: none;
}

.footer-social-icon {
    width: 48px;
}